@font-face {
  font-family: "CircularStd-Black", sans-serif;
  src: url("../fonts/CircularStd-Black.woff") format("woff"), url("../fonts/CircularStd-Black.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd-Bold";
  src: url("../fonts/CircularStd-Bold.woff") format("woff"), url("../fonts/CircularStd-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd-Book", sans-serif;
  src: url("../fonts/CircularStd-Book.woff") format("woff"), url("../fonts/CircularStd-Book.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Matter-Light";
  src: url("../fonts/Matter-Light.woff") format("woff"), url("../fonts/Matter-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Matter-Medium";
  src: url("../fonts/Matter-Medium.woff") format("woff"), url("../fonts/Matter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Matter-Regular";
  src: url("../fonts/Matter-Regular.woff") format("woff"), url("../fonts/Matter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Matter-SemiBold";
  src: url("../fonts/Matter-SemiBold.woff") format("woff"), url("../fonts/Matter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
:root {
  /* fonts */
  --main-font: "CircularStd-Bold", sans-serif;
  --subtitle-font: "Inter", sans-serif;
  /* text color */
  --main-txt-cl: #191825;
  --secondary-txt-cl: #F85E9F;
  --subtitle--txt-cl: rgba(25, 24, 37, 0.50);
  --title-txt-cl: #FF5722;
  --btn-txt-cl: #EEEEEE;
  --transition-fast: 300ms ease-in-out;
  --transition-slow: 500ms ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  position: relative;
}

img {
  display: block;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.19;
  color: var(--main-txt-cl);
  text-align: center;
}

.subtitle {
  font-family: var(--subtitle-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.37;
  color: var(--secondary-txt-cl);
  text-align: center;
}

.btn {
  min-width: 157px;
  max-width: 188px;
  padding: 13px 22px;
  font-family: var(--title-font);
  text-transform: uppercase;
  cursor: pointer;
  transition: color var(--transition-fast), background-color var(--transition-fast);
}

@media only screen and (max-width: 834px) {
  .title {
    margin-bottom: 16px;
  }
}
.container {
  width: 100%;
  max-width: 1224px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
}

.btn-purple {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  padding: 16px 32px;
  box-sizing: border-box;
  border: none;
  color: #ffffff;
  background-color: #5D50C6;
  border-radius: 100px;
  cursor: pointer;
}

.btn-purple:hover,
.btn-purple:focus {
  opacity: 0.8;
  transition: var(--transition-slow);
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__burger {
  display: none;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  display: flex;
  align-items: center;
}

.header__logo-link:hover,
.header__logo-link:focus {
  opacity: 0.8;
  transition: var(--transition-fast);
}

.header__logo-image {
  margin-right: 16px;
}

.header__logo {
  color: var(--main-txt-cl);
  font-family: var(--main-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 64px;
}

.nav__link {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  color: var(--subtitle--txt-cl);
  font-family: var(--main-font);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--main-txt-cl);
  transition: var(--transition-fast);
}

.auth__log {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  color: var(--main-txt-cl);
  padding: 16px 32px;
}

.auth__log:hover,
.auth__log:focus {
  color: var(--subtitle--txt-cl);
  transition: var(--transition-fast);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .nav {
    display: none;
  }
  .header__burger {
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
    z-index: 4;
  }
  .header__burger span {
    position: absolute;
    background-color: #5D50C6;
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #5D50C6;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    content: "";
    top: 0;
  }
  .header__burger:after {
    content: "";
    bottom: 0;
  }
  .header__burger.active:before {
    content: "";
    transform: rotate(45deg);
    top: 9px;
    background-color: #828282;
  }
  .header__burger.active:after {
    content: "";
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: #828282;
  }
  .header__burger.active span {
    transform: scale(0);
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .header__container {
    flex-direction: row-reverse;
  }
  .nav {
    display: none;
  }
  .header__burger {
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
    z-index: 4;
  }
  .header__burger span {
    position: absolute;
    background-color: #5D50C6;
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #5D50C6;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    content: "";
    top: 0;
  }
  .header__burger:after {
    content: "";
    bottom: 0;
  }
  .header__burger.active:before {
    content: "";
    transform: rotate(45deg);
    top: 9px;
    background-color: #828282;
  }
  .header__burger.active:after {
    content: "";
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: #828282;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .auth {
    display: none;
  }
}
.hero {
  padding-top: 64px;
  padding-bottom: 64px;
}

.hero__container {
  display: flex;
  overflow: hidden;
}

.hero__left-link {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 160px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  color: var(--secondary-txt-cl);
  padding: 16px 32px;
  border-radius: 100px;
  background: #ffffff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.07), 0px 34px 75px 0px rgba(0, 0, 0, 0.07), 0px 137px 137px 0px rgba(0, 0, 0, 0.06), 0px 308px 185px 0px rgba(0, 0, 0, 0.04), 0px 548px 219px 0px rgba(0, 0, 0, 0.01), 0px 856px 240px 0px rgba(0, 0, 0, 0);
}

.hero__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 69px;
  line-height: 120%;
  color: #000000;
  margin-top: 43px;
  width: 412px;
}

.hero__title-pink {
  color: var(--secondary-txt-cl);
}

.hero__subtitle {
  font-family: var(--subtitle-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--subtitle--txt-cl);
  margin-top: 43px;
  width: 412px;
}

.hero__btn {
  margin-top: 43px;
  display: flex;
}

.hero__btn-get {
  margin-right: 16px;
}

.hero__btn-demo {
  box-sizing: border-box;
  display: flex;
  padding: 16px 31px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #eeeeee;
  background: #ffffff;
  cursor: pointer;
}

.hero__btn-demo:hover,
.hero__btn-demo:focus {
  opacity: 0.8;
  transition: var(--transition-fast);
}

.hero__btn-text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  color: var(--main-txt-cl);
}

.hero__img-message {
  padding: 16px;
  border-radius: 100px;
  background: var(--secondary-txt-cl);
  box-shadow: 0px 19px 19px 0px rgba(0, 0, 0, 0.09), 0px 43px 26px 0px rgba(0, 0, 0, 0.05), 0px 77px 31px 0px rgba(0, 0, 0, 0.01), 0px 120px 34px 0px rgba(0, 0, 0, 0);
}

.hero__img-user {
  position: absolute;
  left: 383px;
  bottom: 0;
  padding: 16px;
  border-radius: 100px;
  background: var(--title-txt-cl);
  box-shadow: 0px 19px 19px 0px rgba(0, 0, 0, 0.09), 0px 43px 26px 0px rgba(0, 0, 0, 0.05), 0px 77px 31px 0px rgba(0, 0, 0, 0.01), 0px 120px 34px 0px rgba(0, 0, 0, 0);
}

.hero__img-wrapper {
  display: inline-flex;
  padding: 16px 32px;
  align-items: center;
  gap: 8px;
  width: 102px;
  border-radius: 100px;
  background: #ffffff;
  box-shadow: 0px 43px 26px 0px rgba(0, 0, 0, 0.05), 0px 77px 31px 0px rgba(0, 0, 0, 0.01), 0px 120px 34px 0px rgba(0, 0, 0, 0);
}

.hero__img-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  color: #393E46;
}

.hero__img-planet-wrapper {
  position: absolute;
}

.main__img {
  display: flex;
  align-items: center;
  margin-top: 75px;
  margin-left: 90px;
}

.main__img-sea-wrapper {
  position: relative;
  margin-bottom: 32px;
}

.hero__img-message {
  position: absolute;
  bottom: -29px;
  left: -33px;
}

.main__img-city-wrapper {
  position: relative;
  margin-left: 32px;
}

.main__img-city {
  position: relative;
}

.hero__img-wrapper {
  position: absolute;
  top: 333px;
  right: -93px;
}

.main__img-mountain-wrapper {
  position: relative;
}

.main__img-sea,
.main__img-mountain,
.main__img-city {
  border-radius: 33px;
}

@media only screen and (max-width: 1024px) {
  .hero__container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .hero__left-link {
    margin: 0 auto;
  }
  .hero__title {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    width: 576px;
    text-align: center;
  }
  .hero__subtitle {
    text-align: center;
    margin: 0 auto;
  }
  .hero__right {
    margin-bottom: 64px;
  }
  .hero__btn {
    justify-content: center;
  }
}
@media only screen and (max-width: 836px) {
  .hero__img-planet-wrapper {
    right: 0;
    left: 0;
  }
  .main__img {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 767.98px) {
  .hero {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .hero__right {
    position: relative;
    margin-bottom: 32px;
  }
  .main__img {
    margin-left: 46px;
    margin-top: 38px;
  }
  .main__img-sea-wrapper {
    margin-bottom: 16px;
  }
  .main__img-city-wrapper {
    margin-left: 16px;
  }
  .hero__img-message {
    position: absolute;
    bottom: -10px;
    left: -11px;
    width: 10px;
    height: 10px;
    padding: 11px;
    box-shadow: 0px 9.753px 9.753px 0px rgba(0, 0, 0, 0.09), 0px 22.073px 13.346px 0px rgba(0, 0, 0, 0.05), 0px 39.526px 15.913px 0px rgba(0, 0, 0, 0.01), 0px 61.599px 17.453px 0px rgba(0, 0, 0, 0);
  }
  .hero__img-wrapper {
    padding: 8px 15px;
    top: 140px;
    right: -46px;
    width: 55px;
    gap: 4px;
    box-shadow: 0px 9.753px 9.753px 0px rgba(0, 0, 0, 0.09), 0px 22.073px 13.346px 0px rgba(0, 0, 0, 0.05), 0px 39.526px 15.913px 0px rgba(0, 0, 0, 0.01), 0px 61.599px 17.453px 0px rgba(0, 0, 0, 0);
  }
  .hero__img-location {
    width: 12px;
    height: 12px;
  }
  .hero__img-title {
    font-style: normal;
    font-weight: 700;
    font-size: 7px;
    line-height: 120%;
  }
  .hero__img-user {
    width: 16px;
    height: 16px;
    padding: 8px;
    left: 200px;
    box-shadow: 0px 9.753px 9.753px 0px rgba(0, 0, 0, 0.09), 0px 22.073px 13.346px 0px rgba(0, 0, 0, 0.05), 0px 39.526px 15.913px 0px rgba(0, 0, 0, 0.01), 0px 61.599px 17.453px 0px rgba(0, 0, 0, 0);
  }
  .hero__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    width: 398px;
    margin-top: 16px;
  }
  .hero__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    width: 398px;
    margin-top: 24px;
  }
  .hero__btn {
    margin-top: 32px;
  }
}
@media only screen and (max-width: 425.98px) {
  .hero__img-planet-wrapper {
    left: unset;
    right: -41px;
  }
  .main__img {
    margin-left: 20px;
  }
  .hero__btn {
    flex-direction: column;
  }
  .hero__btn-get {
    width: 100%;
    padding: 24px 32px;
    margin-bottom: 24px;
  }
  .hero__btn-demo {
    padding: 24px 32px;
    justify-content: center;
  }
}
.partners {
  padding-top: 64px;
  padding-bottom: 64px;
}

.partners__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .partners__list {
    justify-content: center;
  }
  .partners__item {
    padding-left: 13.5px;
    padding-left: 13.5px;
  }
}
@media only screen and (max-width: 425.98px) {
  .partners {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.services {
  padding-top: 64px;
  padding-bottom: 64px;
}

.services__container {
  display: flex;
}

.services__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  letter-spacing: 4.6px;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
}

.services__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services__subtitle {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
  color: var(--main-txt-cl);
  max-width: 444px;
  margin-top: 16px;
}

.services__list-wrapper {
  position: relative;
}

.services__list {
  position: absolute;
  display: flex;
  right: -1000px;
}

.services__item {
  display: flex;
  padding: 64px;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  border-radius: 32px;
  border: 1px solid rgba(25, 24, 37, 0.1);
  background: #ffffff;
}

.services__item-svg {
  margin-bottom: 64px;
}

.services__item-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  color: var(--main-txt-cl);
  text-align: center;
  margin-bottom: 32px;
}

.destination {
  padding-top: 64px;
  padding-bottom: 64px;
}

.destination__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 64px;
}

.destination__subtitle {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  letter-spacing: 4.6px;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
  margin-bottom: 16px;
}

.destination__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
  color: var(--main-txt-cl);
}

.destination__btn {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid rgba(25, 24, 37, 0.1);
  background: #ffffff;
}

.destination__btn-purple {
  border: none;
  background: #5D50C6;
}

.destination__list {
  display: flex;
}



/*# sourceMappingURL=style.css.map */
