@font-face {
  font-family: "CircularStd-Black", sans-serif;
  src: url("../fonts/CircularStd-Black.woff") format("woff"), url("../fonts/CircularStd-Black.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd-Bold";
  src: url("../fonts/CircularStd-Bold.woff") format("woff"), url("../fonts/CircularStd-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd-Book", sans-serif;
  src: url("../fonts/CircularStd-Book.woff") format("woff"), url("../fonts/CircularStd-Book.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Matter-Light";
  src: url("../fonts/Matter-Light.woff") format("woff"), url("../fonts/Matter-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Matter-Medium";
  src: url("../fonts/Matter-Medium.woff") format("woff"), url("../fonts/Matter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Matter-Regular";
  src: url("../fonts/Matter-Regular.woff") format("woff"), url("../fonts/Matter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Matter-SemiBold";
  src: url("../fonts/Matter-SemiBold.woff") format("woff"), url("../fonts/Matter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
:root {
  /* fonts */
  --main-font: "CircularStd-Bold", sans-serif;
  --subtitle-font: "Inter", sans-serif;
  /* text color */
  --main-txt-cl: #191825;
  --secondary-txt-cl: #F85E9F;
  --subtitle--txt-cl: rgba(25, 24, 37, 0.50);
  --title-txt-cl: #FF5722;
  --btn-txt-cl: #EEEEEE;
  --transition-fast: 300ms ease-in-out;
  --transition-slow: 500ms ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  position: relative;
}

img {
  display: block;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media only screen and (max-width: 834px) {
  .title {
    margin-bottom: 16px;
  }
}
.container {
  width: 100%;
  max-width: 1184px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
}

.btn-purple {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  padding: 16px 32px;
  box-sizing: border-box;
  border: none;
  color: #ffffff;
  background-color: #5D50C6;
  border-radius: 100px;
  cursor: pointer;
}

.btn-purple:hover,
.btn-purple:focus {
  opacity: 0.8;
  transition: var(--transition-slow);
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__burger {
  display: none;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  display: flex;
  align-items: center;
}

.header__logo-link:hover,
.header__logo-link:focus {
  opacity: 0.8;
  transition: var(--transition-fast);
}

.header__logo-image {
  margin-right: 16px;
}

.header__logo {
  color: var(--main-txt-cl);
  font-family: var(--main-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 64px;
}

.nav__link {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  color: var(--subtitle--txt-cl);
  font-family: var(--main-font);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--main-txt-cl);
  transition: var(--transition-fast);
}

.auth__log {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  color: var(--main-txt-cl);
  padding: 16px 32px;
}

.auth__log:hover,
.auth__log:focus {
  color: var(--subtitle--txt-cl);
  transition: var(--transition-fast);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .nav {
    display: none;
  }
  .header__burger {
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
    z-index: 4;
  }
  .header__burger span {
    position: absolute;
    background-color: #5D50C6;
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #5D50C6;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    content: "";
    top: 0;
  }
  .header__burger:after {
    content: "";
    bottom: 0;
  }
  .header__burger.active:before {
    content: "";
    transform: rotate(45deg);
    top: 9px;
    background-color: #828282;
  }
  .header__burger.active:after {
    content: "";
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: #828282;
  }
  .header__burger.active span {
    transform: scale(0);
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .header__container {
    flex-direction: row-reverse;
  }
  .nav {
    display: none;
  }
  .header__burger {
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
    z-index: 4;
  }
  .header__burger span {
    position: absolute;
    background-color: #5D50C6;
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #5D50C6;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    content: "";
    top: 0;
  }
  .header__burger:after {
    content: "";
    bottom: 0;
  }
  .header__burger.active:before {
    content: "";
    transform: rotate(45deg);
    top: 9px;
    background-color: #828282;
  }
  .header__burger.active:after {
    content: "";
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: #828282;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .auth {
    display: none;
  }
}
.hero {
  padding-top: 64px;
  padding-bottom: 64px;
}

.hero__container {
  display: flex;
  overflow: hidden;
}

.hero__left-link {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 160px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  color: var(--secondary-txt-cl);
  padding: 16px 32px;
  border-radius: 100px;
  background: #ffffff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.07), 0px 34px 75px 0px rgba(0, 0, 0, 0.07), 0px 137px 137px 0px rgba(0, 0, 0, 0.06), 0px 308px 185px 0px rgba(0, 0, 0, 0.04), 0px 548px 219px 0px rgba(0, 0, 0, 0.01), 0px 856px 240px 0px rgba(0, 0, 0, 0);
}

.hero__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 69px;
  line-height: 120%;
  color: #000000;
  margin-top: 43px;
  width: 412px;
}

.hero__title-pink {
  color: var(--secondary-txt-cl);
}

.hero__subtitle {
  font-family: var(--subtitle-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--subtitle--txt-cl);
  margin-top: 43px;
  width: 412px;
}

.hero__btn {
  margin-top: 43px;
  display: flex;
}

.hero__btn-get {
  margin-right: 16px;
}

.hero__btn-demo {
  box-sizing: border-box;
  display: flex;
  padding: 16px 31px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #eeeeee;
  background: #ffffff;
  cursor: pointer;
}

.hero__btn-demo:hover,
.hero__btn-demo:focus {
  opacity: 0.8;
  transition: var(--transition-fast);
}

.hero__btn-text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  color: var(--main-txt-cl);
}

.hero__img-message {
  padding: 16px;
  border-radius: 100px;
  background: var(--secondary-txt-cl);
  box-shadow: 0px 19px 19px 0px rgba(0, 0, 0, 0.09), 0px 43px 26px 0px rgba(0, 0, 0, 0.05), 0px 77px 31px 0px rgba(0, 0, 0, 0.01), 0px 120px 34px 0px rgba(0, 0, 0, 0);
}

.hero__img-user {
  position: absolute;
  left: 383px;
  bottom: 0;
  padding: 16px;
  border-radius: 100px;
  background: var(--title-txt-cl);
  box-shadow: 0px 19px 19px 0px rgba(0, 0, 0, 0.09), 0px 43px 26px 0px rgba(0, 0, 0, 0.05), 0px 77px 31px 0px rgba(0, 0, 0, 0.01), 0px 120px 34px 0px rgba(0, 0, 0, 0);
}

.hero__img-wrapper {
  display: inline-flex;
  padding: 16px 32px;
  align-items: center;
  gap: 8px;
  width: 102px;
  border-radius: 100px;
  background: #ffffff;
  box-shadow: 0px 43px 26px 0px rgba(0, 0, 0, 0.05), 0px 77px 31px 0px rgba(0, 0, 0, 0.01), 0px 120px 34px 0px rgba(0, 0, 0, 0);
}

.hero__img-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  color: #393E46;
}

.hero__img-planet-wrapper {
  position: absolute;
}

.main__img {
  display: flex;
  align-items: center;
  margin-top: 75px;
  margin-left: 90px;
}

.main__img-sea-wrapper {
  position: relative;
  margin-bottom: 32px;
}

.hero__img-message {
  position: absolute;
  bottom: -29px;
  left: -33px;
}

.main__img-city-wrapper {
  position: relative;
  margin-left: 32px;
}

.main__img-city {
  position: relative;
}

.hero__img-wrapper {
  position: absolute;
  top: 333px;
  right: -93px;
}

.main__img-mountain-wrapper {
  position: relative;
}

.main__img-sea,
.main__img-mountain,
.main__img-city {
  border-radius: 33px;
}

@media only screen and (max-width: 1024px) {
  .hero__container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .hero__left-link {
    margin: 0 auto;
  }
  .hero__title {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    width: 576px;
    text-align: center;
  }
  .hero__subtitle {
    text-align: center;
    margin: 0 auto;
  }
  .hero__right {
    margin-bottom: 64px;
  }
  .hero__btn {
    justify-content: center;
  }
}
@media only screen and (max-width: 836px) {
  .hero__img-planet-wrapper {
    right: 0;
    left: 0;
  }
  .main__img {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 767.98px) {
  .hero {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .hero__right {
    position: relative;
    margin-bottom: 32px;
  }
  .main__img {
    margin-left: 46px;
    margin-top: 38px;
  }
  .main__img-sea-wrapper {
    margin-bottom: 16px;
  }
  .main__img-city-wrapper {
    margin-left: 16px;
  }
  .hero__img-message {
    position: absolute;
    bottom: -10px;
    left: -11px;
    width: 10px;
    height: 10px;
    padding: 11px;
    box-shadow: 0px 9.753px 9.753px 0px rgba(0, 0, 0, 0.09), 0px 22.073px 13.346px 0px rgba(0, 0, 0, 0.05), 0px 39.526px 15.913px 0px rgba(0, 0, 0, 0.01), 0px 61.599px 17.453px 0px rgba(0, 0, 0, 0);
  }
  .hero__img-wrapper {
    padding: 8px 15px;
    top: 140px;
    right: -46px;
    width: 55px;
    gap: 4px;
    box-shadow: 0px 9.753px 9.753px 0px rgba(0, 0, 0, 0.09), 0px 22.073px 13.346px 0px rgba(0, 0, 0, 0.05), 0px 39.526px 15.913px 0px rgba(0, 0, 0, 0.01), 0px 61.599px 17.453px 0px rgba(0, 0, 0, 0);
  }
  .hero__img-location {
    width: 12px;
    height: 12px;
  }
  .hero__img-title {
    font-style: normal;
    font-weight: 700;
    font-size: 7px;
    line-height: 120%;
  }
  .hero__img-user {
    width: 16px;
    height: 16px;
    padding: 8px;
    left: 200px;
    box-shadow: 0px 9.753px 9.753px 0px rgba(0, 0, 0, 0.09), 0px 22.073px 13.346px 0px rgba(0, 0, 0, 0.05), 0px 39.526px 15.913px 0px rgba(0, 0, 0, 0.01), 0px 61.599px 17.453px 0px rgba(0, 0, 0, 0);
  }
  .hero__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    width: 398px;
    margin-top: 16px;
  }
  .hero__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    width: 398px;
    margin-top: 24px;
  }
  .hero__btn {
    margin-top: 32px;
  }
}
@media only screen and (max-width: 425.98px) {
  .hero__img-planet-wrapper {
    left: unset;
    right: -41px;
  }
  .main__img {
    margin-left: 20px;
  }
  .hero__btn {
    flex-direction: column;
  }
  .hero__btn-get {
    width: 100%;
    padding: 24px 32px;
    margin-bottom: 24px;
  }
  .hero__btn-demo {
    padding: 24px 32px;
    justify-content: center;
  }
}
.partners {
  padding-top: 64px;
  padding-bottom: 64px;
}

.partners__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .partners__list {
    justify-content: center;
  }
  .partners__item {
    padding-left: 13.5px;
    padding-left: 13.5px;
  }
}
@media only screen and (max-width: 425.98px) {
  .partners {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.services {
  padding-top: 64px;
  padding-bottom: 64px;
  overflow: hidden;
}

.services__container {
  display: flex;
}

.services__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  letter-spacing: 4.6px;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
}

.services__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 444px;
  min-width: 444px;
}

.services__subtitle {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
  color: var(--main-txt-cl);
  max-width: 444px;
  margin-top: 16px;
}

.services__list {
  display: flex;
}

.services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;
  width: 221px;
  min-width: 221px;
  margin-right: 21px;
  border-radius: 32px;
  border: 1px solid rgba(25, 24, 37, 0.1);
  background: #ffffff;
}

.services__item:hover,
.services__item:focus {
  border: none;
  border-radius: 32px;
  background: #FFF;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 41px 89px 0px rgba(0, 0, 0, 0.1);
}

.services__item-svg {
  margin-bottom: 64px;
}

.services__item-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  color: var(--main-txt-cl);
  text-align: center;
  margin-bottom: 32px;
}

.services__item-subtitle {
  font-family: var(--subtitle-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: rgba(25, 24, 37, 0.5);
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .services__container {
    flex-direction: column;
  }
  .services__subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
  }
  .services__wrapper {
    text-align: center;
    margin: 0 auto;
    width: unset;
    min-width: unset;
  }
  .services__subtitle {
    max-width: unset;
    margin-bottom: 64px;
  }
  .services__list {
    justify-content: center;
  }
  .services__item {
    padding: 32px;
  }
  .services__item:not(:last-child) {
    margin-right: 16px;
  }
}
@media only screen and (max-width: 920px) {
  .services__list {
    flex-direction: column;
    align-items: center;
  }
  .services__subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 32px;
  }
  .services__title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
  }
  .services__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .services__item-svg {
    margin-bottom: 32px;
  }
}
.destination {
  padding-top: 64px;
  padding-bottom: 64px;
}

.destination__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.destination__subtitle {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  letter-spacing: 4.6px;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
  margin-bottom: 16px;
}

.destination__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
  color: var(--main-txt-cl);
}

.destination__btn {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid rgba(25, 24, 37, 0.1);
  background: #ffffff;
  padding: 0;
}

.destination__btn:hover,
.destination__btn:focus {
  opacity: 0.8;
  transition: var(--transition-fast);
}

.destination__btn-purple {
  border: none;
  background: #5D50C6;
}

.destination__list {
  display: flex;
  justify-content: center;
}

.destination__item {
  border-radius: 32px;
  background: #FFF;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05), 0px 32px 71px 0px rgba(0, 0, 0, 0.05), 0px 128px 128px 0px rgba(0, 0, 0, 0.04), 0px 288px 173px 0px rgba(0, 0, 0, 0.03), 0px 513px 205px 0px rgba(0, 0, 0, 0.01), 0px 801px 224px 0px rgba(0, 0, 0, 0);
}

.destination__item:not(:last-child) {
  margin-right: 32px;
}

.destination__image {
  border-radius: 32px 32px 0px 0px;
}

.item__wrapper {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.wrapper__price {
  display: flex;
}

.destination__name {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  color: var(--main-txt-cl);
}

.destination__price {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  color: var(--secondary-txt-cl);
}

.destination__country {
  font-family: var(--subtitle-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: rgba(25, 24, 37, 0.75);
}

.destination__rating {
  display: flex;
  gap: 8px;
}

.rating__num {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  color: #FF5722;
}

@media only screen and (max-width: 1024px) {
  .destination__list {
    flex-wrap: wrap;
  }
  .destination__item:last-child {
    margin-top: 15px;
  }
  .destination__item,
  .destination__image {
    width: 278px;
  }
  .destination__top {
    flex-direction: column;
    align-items: center;
  }
  .destination__title {
    margin-bottom: 64px;
  }
  .destination__text-wrapper {
    text-align: center;
  }
  .destination__wrapper {
    display: flex;
    gap: 8px;
  }
  .wrapper__price {
    flex-direction: column;
  }
  .destination__name {
    margin-bottom: 8px;
  }
}
@media only screen and (max-width: 768px) {
  .destination__list {
    flex-direction: column;
    align-items: center;
  }
  .destination__item {
    border-radius: 32px;
  }
  .destination__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 32px;
  }
}
@media only screen and (max-width: 425.98px) {
  .destination {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .destination__top {
    margin-bottom: 32px;
  }
  .destination__subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 3.2px;
  }
  .destination__title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 32px;
  }
  .destination__btn {
    width: 64px;
    height: 64px;
  }
}
.point {
  padding-top: 64px;
  padding-bottom: 64px;
}

.point__container {
  display: flex;
}

.point__image-wrapper {
  position: relative;
  flex: 1;
}

.point__image {
  position: absolute;
  right: 0;
  width: 60.58vw;
}

.point__subtitle-wrapper {
  position: relative;
}

.point__svg {
  position: absolute;
  left: 292px;
  top: 13px;
}

.point__right {
  min-width: 441px;
  width: 441px;
  margin-top: 45px;
}

.point__text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  letter-spacing: 4.6px;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
  margin-bottom: 16px;
}

.point__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
  color: var(--main-txt-cl);
  margin-bottom: 32px;
}

.point__subtitle {
  font-family: var(--subtitle-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: rgba(25, 24, 37, 0.5);
  margin-bottom: 64px;
}

.point__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.point__item {
  display: flex;
  padding: 29px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 32px;
  border: 1px solid var(--Grey-Scale-Black-10, rgba(25, 24, 37, 0.1));
  background: var(--white, #FFF);
}

.point__num {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 120%;
  color: #FF5722;
}

.point__feature {
  font-family: var(--subtitle-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--main-txt-cl);
}

@media only screen and (max-width: 1024px) {
  .point__svg {
    display: none;
  }
  .point__container {
    flex-direction: column;
    align-items: center;
  }
  .point__image {
    position: relative;
  }
  .point__right {
    min-width: unset;
    width: unset;
    text-align: center;
  }
  .point__subtitle {
    width: 832px;
  }
}
@media only screen and (max-width: 869px) {
  .point__right {
    width: 600px;
  }
  .point__subtitle {
    width: unset;
  }
}
@media only screen and (max-width: 588px) {
  .point__right {
    width: 500px;
  }
}
@media only screen and (max-width: 474px) {
  .point__right {
    width: 400px;
  }
}
@media only screen and (max-width: 425.98px) {
  .point__text {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
  }
  .point__title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
  }
  .point__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
  }
  .point__list {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
.features {
  padding-top: 64px;
  padding-bottom: 64px;
}

.features__container {
  display: flex;
}

.features__left {
  min-width: 549px;
  width: 549px;
  margin-right: 70px;
}

.features__image {
  min-width: 693px;
  width: 693px;
}

.features__text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  letter-spacing: 4.6px;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
  margin-bottom: 16px;
}

.features__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
  color: var(--main-txt-cl);
  margin-bottom: 32px;
}

.features__subtitle {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: rgba(25, 24, 37, 0.5);
  margin-bottom: 64px;
}

.item__offer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 32px;
  background: #FF5722;
}

.item__schedule {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 32px;
  background: #FACD49;
}

.item__coupons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 32px;
  background: #F85E9F;
}

.features__item {
  display: flex;
  padding: 32px;
  cursor: pointer;
}

.features__item:hover,
.features__item:focus {
  border-radius: 32px;
  border: 1px solid var(--Grey-Scale-Black-10, rgba(25, 24, 37, 0.1));
  background: var(--white, #FFF);
}

.item__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 32px;
}

.features__item-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  color: var(--main-txt-cl);
  margin-bottom: 8px;
}

.features__item-subtitle {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: rgba(25, 24, 37, 0.5);
}

@media only screen and (max-width: 1024px) {
  .features__container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .features__left {
    text-align: center;
    margin-right: unset;
  }
  .features__image {
    min-width: unset;
    width: unset;
  }
}
@media only screen and (max-width: 425.98px) {
  .features {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .features__left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .features__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .features__item {
    flex-direction: column;
  }
  .item__text-wrapper {
    margin-left: unset;
  }
  .item__text-wrapper {
    text-align: start;
  }
  .item__offer,
  .item__schedule,
  .item__coupons {
    margin-bottom: 32px;
  }
  .features__text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 3.2px;
  }
  .features__title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
  }
  .features__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 32px;
    max-width: 334px;
    text-align: center;
  }
}
.reviews {
  padding-top: 64px;
  padding-bottom: 64px;
}

.reviews__container {
  position: relative;
}

.reviews__text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  letter-spacing: 4.6px;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
  margin-bottom: 16px;
  text-align: center;
}

.reviews__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
  color: var(--main-txt-cl);
  text-align: center;
  margin-bottom: 56px;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__item-avatar {
  margin: 0 auto;
}

.reviews__item-name {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  color: #FF5722;
  text-align: center;
  margin-top: 56px;
  margin-bottom: 32px;
}

.reviews__item-travel {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  color: rgba(25, 24, 37, 0.75);
}

.list__stars {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 56px;
}

.reviews__item-text {
  font-family: var(--subtitle-font);
  font-style: normal;
  font-weight: 450;
  font-size: 23px;
  line-height: 160%;
  color: rgba(25, 24, 37, 0.75);
  max-width: 872px;
  text-align: center;
  margin: 0 auto;
}

.reviews__btn {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid rgba(25, 24, 37, 0.1);
  background: #ffffff;
  padding: 0;
}

.reviews__btn:hover,
.reviews__btn:focus {
  opacity: 0.8;
  transition: var(--transition-fast);
}

.reviews__btn-left {
  position: absolute;
  left: 20px;
  top: 219px;
}

.reviews__btn-right {
  position: absolute;
  right: 20px;
  bottom: 272px;
  border: none;
  background: #5D50C6;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 56px;
}

.slick-dots li button {
  display: none;
}

.slick-dots li {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  background-color: rgba(25, 24, 37, 0.05);
  cursor: pointer;
}

.slick-dots li.slick-active {
  background-color: var(--secondary-txt-cl);
}

@media only screen and (max-width: 685px) {
  .reviews {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .reviews__btn {
    width: 64px;
    height: 64px;
  }
  .reviews__text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 3.2px;
  }
  .reviews__title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 64px;
  }
  .reviews__item-name {
    margin-top: 64px;
  }
  .list__stars {
    margin-bottom: 64px;
  }
  .reviews__item-text {
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 160%;
  }
  .slick-dots {
    margin-top: 64px;
    margin-bottom: 64px;
  }
  .reviews__btn-right {
    bottom: unset;
  }
  .reviews__btn-left {
    top: unset;
  }
}
.subscribe {
  padding-top: 109px;
  padding-bottom: 64px;
}

.subscribe__container {
  border-radius: 32px;
  background: rgba(250, 205, 73, 0.08);
  padding-top: 128px;
  padding-bottom: 128px;
}

.subscribe__text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 4.6px;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
  margin-bottom: 32px;
}

.subscribe__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 120%;
  text-align: center;
  color: var(--main-txt-cl);
  max-width: 769px;
  margin: 0 auto;
}

.subscribe__form {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.subscribe__input {
  border: none;
  border-radius: 32px;
  background: #ffffff;
  width: 693px;
  padding: 32px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: rgba(25, 24, 37, 0.75);
  margin-right: 64px;
}

.subscribe__btn {
  display: flex;
  padding: 32px 64px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #ffffff;
  text-align: center;
  border: none;
  border-radius: 32px;
  background: var(--Primary, #5D50C6);
}

@media only screen and (max-width: 1024px) {
  .subscribe__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
  }
  .subscribe__input {
    margin-right: 32px;
  }
  .subscribe {
    padding-left: 64px;
    padding-right: 64px;
  }
}
@media only screen and (max-width: 768px) {
  .subscribe {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 630px) {
  .subscribe__container {
    padding: 32px;
  }
  .subscribe__text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 3.2px;
  }
  .subscribe__title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
  }
  .subscribe__form {
    flex-direction: column;
  }
  .subscribe__input {
    padding: 24px 32px;
    margin-bottom: 32px;
    margin-right: 0;
    width: unset;
  }
  .subscribe__btn {
    display: inline-block;
  }
}
.footer {
  padding-top: 64px;
  padding-bottom: 64px;
}

.footer__container {
  display: flex;
}

.footer__left {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 64px;
}

.footer__logo-link {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.footer__logo-link:hover,
.footer__logo-link:focus {
  opacity: 0.8;
  transition: var(--transition-fast);
}

.footer__logo-image {
  margin-right: 16px;
}

.footer__logo {
  color: var(--main-txt-cl);
  font-family: var(--main-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
}

.footer__text {
  font-family: var(--subtitle-font);
  font-style: normal;
  font-weight: 450;
  font-size: 20px;
  line-height: 160%;
  color: var(--subtitle--txt-cl);
  margin-bottom: 64px;
}

.footer__left-list {
  display: flex;
  gap: 32px;
}

.footer__right {
  display: flex;
  flex: 1;
}

.label {
  pointer-events: none;
}

.list {
  display: flex;
  gap: 32px;
}

.footer__item {
  margin-bottom: 32px;
}

.item {
  width: calc(50% - 32px);
}

.item:not(:last-child) {
  margin-right: 32px;
}

.item:not(:last-child) {
  margin-bottom: 32px;
}

.link-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  color: #191825;
  margin-bottom: 32px;
}

.link {
  font-family: var(--subtitle-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: rgba(25, 24, 37, 0.75);
}

@media only screen and (max-width: 1024px) {
  .footer__container {
    padding-right: 64px;
    padding-left: 64px;
    flex-direction: column;
  }
  .footer__left {
    margin-right: unset;
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 768px) {
  .footer {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .label {
    pointer-events: unset;
  }
  .list {
    flex-direction: column;
  }
  .item {
    width: unset;
  }
  .inner__list {
    display: none;
  }
  #company:checked + #contact + #meet_us + .list .item:nth-child(1) .inner__list {
    display: block;
  }
  #contact:checked + #meet_us + .list .item:nth-child(2) .inner__list {
    display: block;
  }
  #meet_us:checked + .list .item:nth-child(3) .inner__list {
    display: block;
  }
}


/*# sourceMappingURL=style.css.map */
