@font-face {
    font-family: 'CircularStd-Black', sans-serif;
    src: url('../fonts/CircularStd-Black.woff') format('woff'),
    url('../fonts/CircularStd-Black.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd-Bold';
    src: url('../fonts/CircularStd-Bold.woff') format('woff'),
    url('../fonts/CircularStd-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd-Book', sans-serif;
    src: url('../fonts/CircularStd-Book.woff') format('woff'),
    url('../fonts/CircularStd-Book.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

//Matter

@font-face {
    font-family: 'Matter-Light';
    src: url('../fonts/Matter-Light.woff') format('woff'),
    url('../fonts/Matter-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Matter-Medium';
    src: url('../fonts/Matter-Medium.woff') format('woff'),
    url('../fonts/Matter-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Matter-Regular';
    src: url('../fonts/Matter-Regular.woff') format('woff'),
    url('../fonts/Matter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Matter-SemiBold';
    src: url('../fonts/Matter-SemiBold.woff') format('woff'),
    url('../fonts/Matter-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}