@font-face {
    font-family: 'CircularStd-Book', sans-serif;
    src: url('../fonts/CircularStd-Book.woff') format('woff'),
    url('../fonts/CircularStd-Book.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
