:root{
    /* fonts */
    --main-font: 'CircularStd-Bold', sans-serif;
    --subtitle-font: 'Inter', sans-serif;
  
    /* text color */
    --main-txt-cl: #191825;
    --secondary-txt-cl: #F85E9F;
    --subtitle--txt-cl: #191825;
    --title-txt-cl: #FF5722;
    --btn-txt-cl: #EEEEEE;
  
    --transition-fast: 300ms ease-in-out;
    --transition-slow: 500ms ease-in-out;
  }