.footer{
    padding-top: 64px;
    padding-bottom: 64px;
}

.footer__container{
    display: flex;
}

.footer__left{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 64px;
}

.footer__logo-link{
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.footer__logo-link:hover,
.footer__logo-link:focus{
    opacity: .8;
    transition: var(--transition-fast);
}

.footer__logo-image{
    margin-right: 16px;
}

.footer__logo{
    color: var(--main-txt-cl);
    font-family: var(--main-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
}

.footer__text{
    font-family: var(--subtitle-font);
    @include fonts(normal, 450, 20px, 160%);
    color: var(--subtitle--txt-cl);
    margin-bottom: 64px;
}

.footer__left-list{
    display: flex;
    gap: 32px;
}

//footer__right

.footer__right{
    display: flex;
    flex: 1;
}

.label{
    pointer-events: none;
}

.list{
    display: flex;
    gap: 32px;
}

.footer__item{
    margin-bottom: 32px;
}

.item{
    width: calc(50% - 32px);
}

.item:not(:last-child){
    margin-right: 32px;
}

.item:not(:last-child){
    margin-bottom: 32px;
}

.link-title{
    font-family: var(--main-font);
    @include fonts(normal, 700, 23px, 120%);
    color: #191825;
    margin-bottom: 32px;
}

.link{
    font-family: var(--subtitle-font);
    @include fonts(normal, 400, 18px, 160%);
    color: rgba(25, 24, 37, 0.75);
}


@media only screen and  (max-width: 1024px){
    .footer__container{
        padding-right: 64px;
        padding-left: 64px;
        flex-direction: column;
    }

    .footer__left{
        margin-right: unset;
        margin-bottom: 64px;
    }
}

@media only screen and (min-width: 375px) and (max-width:768px){
    .footer{
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .label{
        pointer-events: unset;
    }

    .list{
        flex-direction: column;
    }

    .item{
        width: unset;
    }

    .inner__list{
        display: none;
    }
    
    #company:checked + #contact + #meet_us + .list .item:nth-child(1) .inner__list{
        display: block;
    }
    
    #contact:checked + #meet_us + .list .item:nth-child(2) .inner__list{
        display: block;
    }
    
    #meet_us:checked + .list .item:nth-child(3) .inner__list{
        display: block;
    }

}
