.header{
    padding-top: 32px;
    padding-bottom: 32px;
}

.header__burger{
    display: none;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-link{
    display: flex;
    align-items: center;
}

.header__logo-link:hover,
.header__logo-link:focus{
    opacity: .8;
    transition: var(--transition-fast);
}

.header__logo-image{
    margin-right: 16px;
}

.header__logo{
    color: var(--main-txt-cl);
    font-family: var(--main-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
}

.nav__list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__item:not(:last-child){
    margin-right: 64px;
}

.nav__link{
    @include fonts(normal, 700, 14px, 120%);
    color: var(--subtitle--txt-cl);
    font-family: var(--main-font);
}

.nav__link:hover,
.nav__link:focus{
    color: var(--main-txt-cl);
    transition: var(--transition-fast);
}

.auth__log{
    font-family: var(--main-font);
    @include fonts(normal, 700, 14px, 120%);
    color: var(--main-txt-cl);

    padding: 16px 32px;
}

.auth__log:hover,
.auth__log:focus{
    color: var(--subtitle--txt-cl);
    transition: var(--transition-fast);
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .nav{
        display: none;
    }

    .header__burger{
        position: relative;
        display: block;
        width: 30px;
        height: 20px;
        z-index: 4;
      }
    
      .header__burger span{
        position: absolute;
        background-color: #5D50C6;
        left: 0;
        width: 100%;
        height: 3px;
        top: 9px;
        transition: all 0.3s ease 0s;
      }
    
      .header__burger:before,
      .header__burger:after{
        content: "";
        background-color: #5D50C6;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.3s ease 0s;
      }
    
      .header__burger:before{
        content: "";
        top: 0;
      }
    
      .header__burger:after{
        content: "";
        bottom: 0;
      }
    
      .header__burger.active:before{
        content: "";
        transform: rotate(45deg);
        top: 9px;
        background-color: #828282;
      }
    
      .header__burger.active:after{
        content: "";
        transform: rotate(-45deg);
        bottom: 9px;
        background-color: #828282;
    
      }
    
      .header__burger.active span{
        transform: scale(0);
      }
}


@media only screen and (min-width: 320px) and (max-width: 768px){
    .header__container{
        flex-direction:  row-reverse;
    }
    .nav{
        display: none;
    }
    .header__burger{
        position: relative;
        display: block;
        width: 30px;
        height: 20px;
        z-index: 4;
      }
    
      .header__burger span{
        position: absolute;
        background-color: #5D50C6;
        left: 0;
        width: 100%;
        height: 3px;
        top: 9px;
        transition: all 0.3s ease 0s;
      }
    
      .header__burger:before,
      .header__burger:after{
        content: "";
        background-color: #5D50C6;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.3s ease 0s;
      }
    
      .header__burger:before{
        content: "";
        top: 0;
      }
    
      .header__burger:after{
        content: "";
        bottom: 0;
      }
    
      .header__burger.active:before{
        content: "";
        transform: rotate(45deg);
        top: 9px;
        background-color: #828282;
      }
    
      .header__burger.active:after{
        content: "";
        transform: rotate(-45deg);
        bottom: 9px;
        background-color: #828282;
    
      }
    
      .header__burger.active span{
        transform: scale(0);
      }
    .auth{
        display: none;
    }
}