.hero{
    padding-top: 64px;
    padding-bottom: 64px;
}

.hero__container{
    display: flex;
    overflow: hidden;
}

.hero__left-link{
    display: flex;
    align-items: center;
    gap: 16px;
    width: 160px;
    font-family: var(--main-font);
    @include fonts(normal, 700, 14px, 120%);
    color: var(--secondary-txt-cl);

    padding: 16px 32px;
    border-radius: 100px;
    background: #ffffff;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.07), 0px 34px 75px 0px rgba(0, 0, 0, 0.07), 0px 137px 137px 0px rgba(0, 0, 0, 0.06), 0px 308px 185px 0px rgba(0, 0, 0, 0.04), 0px 548px 219px 0px rgba(0, 0, 0, 0.01), 0px 856px 240px 0px rgba(0, 0, 0, 0.00);
}

.hero__title{
    font-family: var(--main-font);
    @include fonts(normal, 700, 69px, 120%);
    color: #000000;

    margin-top: 43px;
    width: 412px;
}

.hero__title-pink{
    color: var(--secondary-txt-cl);
}

.hero__subtitle{
    font-family: var(--subtitle-font);
    @include fonts(normal, 400, 18px, 160%);
    color: var(--subtitle--txt-cl);

    padding-top: 43px;
    width: 412px;
}

.hero__btn{
    padding-top: 43px;
    display: flex;
}

.hero__btn-get{
    margin-right: 16px;
}

.hero__btn-demo{
    box-sizing: border-box;
    display: flex;
    padding: 16px 31px;
    align-items: center;
    gap: 8px;

    border-radius: 100px;
    border: 1px solid  #eeeeee;
    background: #ffffff;
    cursor: pointer;
}

.hero__btn-demo:hover,
.hero__btn-demo:focus{
    opacity: .8;
    transition: var(--transition-fast);
}

.hero__btn-text{
    font-family: var(--main-font);
    @include fonts(normal, 700, 14px, 120%);
    color: var(--main-txt-cl);
}



.hero__img-message{
    padding: 16px;
    border-radius: 100px;
    background: var(--secondary-txt-cl);
    box-shadow: 0px 19px 19px 0px rgba(0, 0, 0, 0.09), 0px 43px 26px 0px rgba(0, 0, 0, 0.05), 0px 77px 31px 0px rgba(0, 0, 0, 0.01), 0px 120px 34px 0px rgba(0, 0, 0, 0.00);
}

.hero__img-user{
    padding: 16px;
    border-radius: 100px;
    background: var(--title-txt-cl);
    box-shadow: 0px 19px 19px 0px rgba(0, 0, 0, 0.09), 0px 43px 26px 0px rgba(0, 0, 0, 0.05), 0px 77px 31px 0px rgba(0, 0, 0, 0.01), 0px 120px 34px 0px rgba(0, 0, 0, 0.00);
}

.hero__img-wrapper{
    display: inline-flex;
    padding: 16px 32px;
    align-items: center;
    gap: 8px;
    width: 102px;

    border-radius: 100px;
    background: #ffffff;
    box-shadow: 0px 43px 26px 0px rgba(0, 0, 0, 0.05), 0px 77px 31px 0px rgba(0, 0, 0, 0.01), 0px 120px 34px 0px rgba(0, 0, 0, 0.00);
}

.hero__img-title{
    font-family: var(--main-font);
    @include fonts(normal, 700, 14px, 120%);
    color: #393E46;
}

//hero__right
.hero__img-planet-wrapper{
    position: absolute;
}

.main__img{
    display: flex;
    align-items: center;
    padding-top: 75px;
    margin-left: 90px;
}

.main__img-sea-wrapper{
    position: relative;
    margin-bottom: 32px;
}

.hero__img-message{
    position: absolute;
    bottom: -29px;
    left: -33px;
}

.main__img-city-wrapper{
    position: relative;
    margin-left: 32px;
}

.main__img-city{
    position: relative;
}

.hero__img-wrapper{
    position: absolute;
    top: 333px;
    right: -93px;
}

.hero__img-user{
    position: absolute;
    left: 383px; 
    bottom: 0
}

.main__img-mountain-wrapper{
    position: relative;
}

.main__img-sea,
.main__img-mountain,
.main__img-city{
    border-radius: 33px;
}

@media only screen and  (max-width: 1024px){
    .hero__container{
        flex-direction: column-reverse;
        align-items: center;
    }


    .hero__left-link{
        margin: 0 auto;
    }

    .hero__title{
        @include fonts(normal, 700, 56px, 120%);
        width: 576px;
        text-align: center;
    }
    .hero__subtitle{
        text-align: center;
        margin: 0 auto;
    }

    .hero__right{
        margin-bottom: 64px;
    }

    .hero__btn{
        justify-content: center;
    }
}

@media only screen and  (max-width: 836px){
    .hero__img-planet-wrapper{
        right: 0;
        left: 0;
    }

    .main__img {
        margin-left: 0px;
        }
}

@media only screen and  (max-width: 767px){
    .hero{
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .hero__right{
        position: relative;
    }

    .hero__img-planet-wrapper{
        right: -45px;
    }

    
}