.point{
    padding-top: 64px;
    padding-bottom: 64px;
}

.point__container{
    display: flex;
}

.point__image-wrapper{
    position: relative;
    flex: 1;
}

.point__image{
    position: absolute;
    right: 0;
    width: 60.58vw;
}

.point__subtitle-wrapper{
    position: relative;
}

.point__svg{
    position: absolute;
    left: 292px;
    top: 13px;
}

.point__right{
    min-width: 441px;
    width: 441px;
    margin-top: 45px;
}
.point__text{
    font-family: var(--main-font);
    @include fonts(normal, 700, 23px, 120%);
    letter-spacing: 4.6px;
    text-transform: uppercase;
    color: var(--secondary-txt-cl);
    margin-bottom: 16px;
}

.point__title{
    font-family: var(--main-font);
    @include fonts(normal, 700, 44px, 120%);
    color: var(--main-txt-cl);
    margin-bottom: 32px;
}

.point__subtitle{
    font-family: var(--subtitle-font);
    @include fonts(normal, 400, 18px, 160%);
    color: rgba(25, 24, 37, 0.50);
    margin-bottom: 64px;
}

.point__list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.point__item{
    display: flex;
    padding: 29px;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    border-radius: 32px;
    border: 1px solid var(--Grey-Scale-Black-10, rgba(25, 24, 37, 0.10));
    background: var(--white, #FFF);
}

.point__num{
    font-family: var(--main-font);
    @include fonts(normal, 700, 35px, 120%);
    color: #FF5722;
}

.point__feature{
    font-family: var(--subtitle-font);
    @include fonts(normal, 400, 18px, 160%);
    color: var(--main-txt-cl);
}

@media only screen and  (max-width: 1024px){
    .point__svg{
        display: none;
    }

    .point__container{
        flex-direction: column;
        align-items: center;
    }

    .point__image{
        position: relative;
    }

    .point__right{
        min-width: unset;
        width: unset;
        text-align: center;
    }

    .point__subtitle{
        width: 832px;
    }
}

@media only screen and  (max-width: 869px){
    .point__right{
        width: 600px;
    }

    .point__subtitle{
        width: unset;
    }
}

@media only screen and  (max-width: 588px){
    .point__right{
        width: 500px;
    }
}

@media only screen and  (max-width: 474px){
    .point__right{
        width: 400px;
    }
}

@media only screen and  (max-width: 425.98px){
    .point__text{
        @include fonts(normal, 700, 18px, 120%);
    }

    .point__title{
        @include fonts(normal, 700, 32px, 120%);
    }

    .point__subtitle{
        @include fonts(normal, 400, 16px, 160%);
    }

    .point__list{
        grid-template-columns: 1fr;
        gap: 16px;
    }
}