.reviews{
    padding-top: 64px;
    padding-bottom: 64px;
}

.reviews__container{
    position: relative;
}

.reviews__text{
    font-family: var(--main-font);
    @include fonts(normal, 700, 23px, 120%);
    letter-spacing: 4.6px;
    text-transform: uppercase;
    color: var(--secondary-txt-cl);
    margin-bottom: 16px;
    text-align: center;
}

.reviews__title{
    font-family: var(--main-font);
    @include fonts(normal, 700, 44px, 120%);
    color: var(--main-txt-cl);
    text-align: center;
    margin-bottom: 56px;
}

.reviews__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews__item-avatar{
    margin-bottom: 56px;
}

.reviews__item-name{
    font-family: var(--main-font);
    @include fonts(normal, 700, 28px, 120%);
    color: #FF5722;
    text-align: center;
    margin-bottom: 32px;
}

.reviews__item-travel{
    font-family: var(--main-font);
    @include fonts(normal, 700, 23px, 120%);
    color: rgba(25, 24, 37, 0.75);
}

.list__stars{
    display: flex;
    gap: 16px;
    margin-bottom: 56px;
}

.reviews__item-text{
    font-family: var(--subtitle-font);
    @include fonts(normal, 450, 23px, 160%);
    color: rgba(25, 24, 37, 0.75);
    width: 872px;
    text-align: center;
    margin-bottom: 56px;
}

.reviews__btn{
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 1px solid  rgba(25, 24, 37, 0.10);
    background:  #ffffff;
    padding: 0;
}

.reviews__btn:hover,
.reviews__btn:focus{
    opacity: .8;
    transition: var(--transition-fast);
}

.reviews__btn-left{
    position: absolute;
    left: 20px;
    top: 178px;
}

.reviews__btn-right{
    position: absolute;
    right: 20px;
    bottom: 272px;
    border:none;
    background:  #5D50C6;
}