.services{
    padding-top: 64px;
    padding-bottom: 64px;
    overflow: hidden;
}

.services__container{
    display: flex;
}

.services__list-wrapper{
    z-index: 4;
}

.services__title{
    font-family: var(--main-font);
    @include fonts(normal, 700, 23px, 120%);
    letter-spacing: 4.6px;
    text-transform: uppercase;
    color: var(--secondary-txt-cl);
}

.services__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 444px;
    min-width: 444px;
}

.services__subtitle{
    font-family: var(--main-font);
    @include fonts(normal, 700, 44px, 120%);
    color: var(--main-txt-cl);
    max-width: 444px;
    margin-top: 16px;
}

.services__list{
    display: flex;
}

.services__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;

    width: 221px;
    min-width: 221px;
    margin-right: 21px;

    border-radius: 32px;
    border: 1px solid rgba(25, 24, 37, 0.10);

    background: #ffffff;
}

.services__item:hover,
.services__item:focus{
    border: none;
    border-radius: 32px;
    background: #FFF;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 41px 89px 0px rgba(0, 0, 0, 0.10);
}

.services__item-svg{
    margin-bottom: 64px;
}

.services__item-title{
    font-family: var(--main-font);
    @include fonts(normal, 700, 28px, 120%);
    color: var(--main-txt-cl);
    text-align: center;
    margin-bottom: 32px;
}

.services__item-subtitle{
    font-family: var(--subtitle-font);
    @include fonts(normal, 400, 18px, 160%);
    color: rgba(25, 24, 37, 0.50);
    text-align: center;
}

@media only screen and  (max-width: 1024px){
    .services__container{
        flex-direction: column;
    }

    .services__subtitle{
        @include fonts(normal, 700, 40px, 120%);
    }

    .services__wrapper{
        text-align: center;
        margin: 0 auto;
        width: unset;
        min-width: unset;
    }

    .services__subtitle{
        max-width: unset;
        margin-bottom: 64px;
    }

    .services__list{
        justify-content: center;
    }

    .services__item{
        padding: 32px;
    }

    .services__item:not(:last-child){
        margin-right: 16px;
    }
}

@media only screen and  (max-width: 920px){
    .services__list{
        flex-direction: column;
        align-items: center
    }

    .services__subtitle{
        @include fonts(normal, 700, 32px, 120%);
        margin-bottom: 32px;
    }
    .services__title{
        @include fonts(normal, 700, 16px, 120%);
    }

    .services__item:not(:last-child){
        margin-right: 0;
        margin-bottom: 16px;
    }

    .services__item-svg{
        margin-bottom: 32px;
    }
}